@main("CMS v1.0") {
    <script type="text/javascript" src="@routes.Assets.at("js/cms/core.js")"></script>
} {
    <div ng-app="cms">
        <table ng-controller="ItemsTable">
            <tr>
                <td ng-repeat="header in headers">
                    {{header}}
                </td>
            </tr>
            <tr ng-repeat="item in items">
                <td ng-repeat="header in headers">
                    {{item[header]}}
                </td>
            </tr>
        </table>
    </div>
}