@(title: String)(includes: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript"  src="@routes.Assets.at("js/jquery-1.9.1.min.js")"></script>
        <script type="text/javascript"  src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen"/>
        <script type="text/javascript"  src="@routes.Assets.at("js/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        @includes
    </head>
    <body>
        @content
    </body>
</html>
